<nav
  class="flex flex-col md:flex-row justify-center items-center text-center p-5 text-lg"
>

  <LinkTo
    class="p-4 hover:bg-slate-300 rounded-md min-w-[8rem]"
    @route="index"
  >Inicio</LinkTo>
  <LinkTo
    class="p-4 hover:bg-slate-300 rounded-md min-w-[8rem]"
    @route="statistics"
  >Estadisticas</LinkTo>

</nav>