<div class="flex items-center justify-center mt-4 p-4">

  <div
    class="flex justify-center items-center rounded-lg bg-slate-100 p-5 m-6 flex-col min-w-full min-h-[500px] text-3xl"
  >

    <div class="flex">
      <div class="text-center mx-4">
        <p class="font-semibold">Local</p>
        <img
          src="https://img2.freepng.es/20180601/glx/kisspng-real-betis-fminas-real-madrid-c-f-201718-la-5b1202f41633b4.236677671527907060091.jpg"
          height="100"
          width="100"
          alt="Escudo betis"
        />Real Betis
      </div>

      <div class="p-4 font-bold text-center">1
        <div>50%</div>
      </div>
      <div class="p-4 font-bold text-center">X</div>
      <div class="p-4 font-bold text-center">2
        <div>50%</div>
      </div>
      <div class="text-center mx-4">
        <p class="font-semibold">Visitante</p>

        <img
          src="https://img2.freepng.es/20180601/glx/kisspng-real-betis-fminas-real-madrid-c-f-201718-la-5b1202f41633b4.236677671527907060091.jpg"
          height="100"
          width="100"
          alt="Escudo betis"
        />Real Betis
      </div>
    </div>

    <div class="text-center mt-4"><p class="font-bold text-xl">Fecha</p>
      <div class="text-center text-md">10/05/23 - 16:15</div>
    </div>
  </div></div>