<nav
  class="flex flex-col sm:flex-row justify-between items-center text-center pt-4 pl-12 pr-12"
>
  <div>
    <LinkTo @route="index">Inicio</LinkTo>
  </div>
  <div class="flex flex-col sm:flex-row sm:mt-4">
    <div class="p-3 bg-orange-500 text-white rounded-md">
      <LinkTo @route="index">
        Inicio de sesión
      </LinkTo></div>
    <div class="p-3">
      <LinkTo @route="index">
        Registrate
      </LinkTo>
    </div>
  </div>
</nav>